<% @user=User.find(@skate_ostalo.user_id) %>

<div id="pojedinacni_oglas">

<h3 id="naslov"><%= @skate_ostalo.naslov%></h3>

<div id="trakica"><p><b>Datum postavljanja oglasa:</b> <%= @skate_ostalo.created_at.strftime("%d-%m-%Y") %></p></div>
<br/>

<div id="pojedinacni_oglas_info" align="center">
<table id="tablica_atributa">
<tr>
<td class="keys_ostalo"><b>Cijena:</b></td>
<td class="values_ostalo"><%= @skate_ostalo.cijena %> kn</td>
</tr>
</table>
<table id="tablica_opis">
<tr>
<td id="key_opis"><b>Opis:</b></td>
</tr>
<td id="value_opis"><%= @skate_ostalo.opis %></td>
<tr>
</table>
</div>


<div id="pojedinacni_oglas_slika_i_korisnik">

<div id="pojedinacni_oglas_slika">

<% if @skate_ostalo.slika_file_name %>
<% string_id = add_zeros(@skate_ostalo.id) %>
<% izvor2="/system/skate_ostalos/slikas/000/000/"+string_id+"/medium/"+@skate_ostalo.slika_file_name %>
<% else %>
<% izvor2="/images/no photo.png" %>
<% end %>
<%= image_tag (izvor2), :id=>"slikica" %>


</div>
<hr>
<div id="pojedinacni_oglas_korisnik">

<%= link_to @user.name, "/korisnik/#{@user.name}" %><br/>
<b>E-mail: </b><%= @user.email %><br/>
<b>Tel: </b><%= @user.phone_number %><br/>
<b>Zupanija: </b><%= @user.county %>
</div>
<br>
</div>
</div>
