<%= provide(:title, 'Edit') %>
<div id='gore'>
<h1>Unesi promjene</h1>

</div>

<div class="row">

  <div class="span6 offset3">

    <%= form_for(@clothing_ostalo) do |d| %>
      <%= render 'shared/error_messages', object: d.object %>

        <%= d.label :naslov %>
        <%= d.text_field :naslov %>

        <%= d.label :opis, "Opis:" %>
        <%= d.text_area :opis %>

        <%= d.label :cijena %>
        <%= d.text_field :cijena %>

	<br/>
        <%= d.file_field :slika %>

      <br/>
      <%= d.submit "Spremi promjene", class: "btn btn-inverse btn-large" %>
    <% end %>
  </div>

