<div id="daske_lista">
<h1 id="naslov">Ostalo</h1>
<br/>
<table id="clothing_ostalo_table", class="fixed_table", style="margin-top:-10px;">
    <col width="200px" />
    <col width="200px" />
    <col width="200px" />
    <col width="200px" />
<tr id="prva_traka", style="height:30px;">
  <th>Slika</th>
  <th><%= sortable "naslov" %></th>
  <th><%= sortable "cijena" %></th>
  <th><b>Detalji</b></th>
</tr>
<% for clothing_ostalo in @clothing_ostalos %>
<tr style="border-bottom:thin solid;height:50px;">

<% if clothing_ostalo.slika_file_name %>
<% string_id = add_zeros(clothing_ostalo.id) %>
<% izvor2="/system/clothing_ostalos/slikas/000/000/"+string_id+"/thumb/"+clothing_ostalo.slika_file_name %>
<% else %>
<% izvor2="/images/no photo thumb.png" %>
<% end %>

<td><%= image_tag izvor2, :size => "30x30", :class => "za_povecat" %></td>
<td><%= clothing_ostalo.naslov %></td>
<td><%= clothing_ostalo.cijena %></td>
<td><%= link_to "Detalji", clothing_ostalo %></td>
</tr>
<% end %>
</table>
<%= will_paginate @clothing_ostalos %>
</div>
