<div id="pojedinacna_daska">
<h3>Ostala skate oprema <%= @skate_ostalo.naslov %></h3>
<br/>
<p><b>Marka daske:</b> <%= @skate_ostalo.naslov%><br/>
<b>Sirina daske:</b> <%= @skate_ostalo.opis %><br/>
<b>Cijena </b><%= @skate_ostalo.cijena %><br/>
<b>Slika:</b><br/>
<% izvor="/system/skate_ostalos/slikas/000/000/00"+@skate_ostalo.id.to_s+"/medium/"+@skate_ostalo.slika_file_name %>
<% izvor2="/system/skate_ostalos/slikas/000/000/00"+@skate_ostalo.id.to_s+"/thumb/"+@skate_ostalo.slika_file_name %>
<%= image_tag (izvor) %>
<br/><br/>
<% @user=User.find(@skate_ostalo.user_id) %>
<h4>Podatci o korisniku</h4><br/>
<%= link_to @user.name, @user %><br/>
<%= @user.email %><br/>
<%= @user.phone_number %>
</p>
</div>
