<%= provide(:title, 'Registracija') %>
<div id='kontenjer2'>
<div id="registracijski_naslov">
<h1 id="naslov">Registracija</h1>
</div>

    <%= form_for @user, do |f| %>
	<div id="registracijske_greske">
      <%= render 'shared/error_messages', object: f.object %>
	</div>
	<div id="registracijski_inputi">
      <b><%= f.label :name , "Nadimak:", id:"nadimak_label" %></b>
      <%= f.text_field :name %>

      <%= f.label :email, "E-mail:", id:"email_label"%>
      <%= f.text_field :email %>

      <%= f.label :password, "Lozinka:", id:"lozinka_label" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Ponovni unos lozinke:", id:"lozinka_label_confirm" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :phone_number, "Telefonski broj:", id:"phone_label" %>
      <%= f.text_field :phone_number %>

      <%= f.label :county, "Zupanija:", id:"county_label" %>
      <%= f.select :county, [['Bjelovarsko-bilogorska','Bjelovarsko-bilogorska'],['Brodsko-posavska','Brodsko-posavska'],['Dubrovačko-neretvanska','Dubrovačko-neretvanska'],['Istarska','Istarska'],['Karlovačka','Karlovačka'],['Koprivničko-križevačka','Koprivničko-križevačka'],['Krapinsko-zagorska','Krapinsko-zagorska'],['Ličko-senjska','Ličko-senjska'],['Međimurska','Međimurska'],['Osječko-baranjska','Osječko-baranjska'],['Požeško-slavonska','Požeško-slavonska'],['Primorsko-goranska','Primorsko-goranska'],['Sisačko-moslavačka','Sisačko-moslavačka'],['Splitsko-dalmatinska','Splitsko-dalmatinska'],['Šibensko-kninska','Šibensko-kninska'],['Varaždinska','Varazdinska'],['Virovitičko-podravska','Viroviticko-podravska'],['Vukovarsko-srijemska','Vukovarsko-srijemska'],['Zadarska','Zadarska'],['Grad Zagreb','Grad Zagreb'],['Zagrebacka','Zagrebacka']], :include_blank => true  %>
      <br/>


      <%= f.submit "Registriraj se", class: "btn btn-danger btn-large", id: "registracijski_gumb" %>
    <% end %>
</div>
      <p id="regani_korisnik">Registrirani korisnik? <%= link_to "Prijavi se!", signin_path %></p>

</div>
<script>
$('ul#sastrane').hide();
$('.alert').hide();




$('input[name="user[name]"]').bind('input', function() {
	var name = $(this).val();
		$.ajax('/users/identifier_exists', {
			data: { name: name },
			cache: false,
			dataType: 'json',
			success: function(result) {
				if(result != null){
					$('input[name="user[name]"]').css({'background-color' : '#771B0C'});
					}
				else{
					$('input[name="user[name]"]').css({'background-color' : 'white'});
					}
				}
		});
});

$('input[name="user[email]"]').bind('input', function() {
	var email = $(this).val();
		$.ajax('/users/identifier_exists', {
			data: { email: email },
			cache: false,
			dataType: 'json',
			success: function(result) {
				if(result != null){
					$('input[name="user[email]"]').css({'background-color' : '#771B0C'});
					}
				else{
					$('input[name="user[email]"]').css({'background-color' : 'white'});
					}
				}
		});
});
</script>

