<%= form_for @skate_ostalo,:url => skate_ostalos_path, :html => { :multipart => true } do |d| %>
  <div id="obrazac5_greske">
  <%= render 'shared/error_messages', object: d.object %>
  </div>
  <div id="obrazac5_inputi">
  <div class="field" >
        <%= d.label :naslov, id:"naslov_label" %>
        <%= d.text_field :naslov %>

        <%= d.label :cijena, id:"radijus_label"%>
        <%= d.text_field :cijena %>
	
	<%= d.label :zamjena, "Zamjena?", id:"zamjena4_label" %>
        <%= d.check_box :zamjena %>
        
	<%= d.label :opis, "Opis:", id:"opis2_label" %>
        <%= d.text_area :opis %>

	<br/>
        <%= d.file_field :slika %>
  </div>
  <%= d.submit "Post", class: "btn btn-large btn-danger", id:"wheel_gumb"%>
</div>
<% end %>

