<%= form_for @truck,:url => trucks_path, :html => { :multipart => true } do |d| %>
  <%= render 'shared/error_messages', object: d.object %>
  <div class="field" >
        <%= d.label :marka %>
        <%= d.text_field :marka %>

        <%= d.label :sirina1, "Sirina(inch)" %>
        <%= d.text_field :sirina1 %>

	<%= d.label :sirina2, "Sirina(mm)" %>
        <%= d.text_field :sirina2 %>

        <%= d.label :visina %>
        <%= d.text_field :visina %>

        <%= d.label :koristenost, "Stanje" %>
        <%= d.text_field :koristenost %>

        <%= d.label :starost %>
        <%= d.text_field :starost %>

        <%= d.label :cijena %>
        <%= d.text_field :cijena %>

        <%= d.label :dodatan_opis, "Dodatan opis:" %>
        <%= d.text_area :dodatan_opis %>

        <p>Mogucnost zamjene</p>
        <%= d.check_box :zamjena %>
        <br/>
        <%= d.file_field :slika %>
  </div>
  <%= d.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>


