<%= form_for @wheel,:url => wheels_path, :html => { :multipart => true } do |d| %>
  <%= render 'shared/error_messages', object: d.object %>
  <div class="field" >
        <%= d.label :marka %>
        <%= d.text_field :marka %>

        <%= d.label :radijus %>
        <%= d.text_field :radijus %>

        <%= d.label :koristenost, "Stanje" %>
        <%= d.text_field :koristenost %>

        <%= d.label :starost %>
        <%= d.text_field :starost %>

        <%= d.label :cijena %>
        <%= d.text_field :cijena %>

        <%= d.label :dodatan_opis, "Dodatan opis:" %>
        <%= d.text_area :dodatan_opis %>

        <p>Mogucnost zamjene</p>
        <%= d.check_box :zamjena %>
	<br/>
        <%= d.file_field :slika %>
  </div>
  <%= d.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>


