<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "/javascripts/static_pages" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<div id="traka_gore">
			<%= link_to image_tag("/images/logo puknuti.png"), root_path, :id => 'logo_puknuti' %>
			<p id="shs">OGLASNIK ZA SKATEBOARD OPREMU</p>
			<ul id="navlist">
			<li><%= link_to "Pocetna stranica", root_path, :id => 'home' %></li>
			<li style="color:black">|</li>
			<li><%= link_to "Muzicki kutak", help_path, :id => 'playlist' %></li>
			<li style="color:black">|</li>	
			<li><%= link_to "Info o stranici", about_path, :id => 'info__o_stranici' %></li>
			</ul>

			<ul id="navlist1">
			<% if signed_in? %>
			<li><%= link_to current_user.name, current_user %></li>
			<li style="color:black">|</li>
			<li><%= link_to "Settings", edit_user_path(current_user) %></li>
			<li style="color:black">|</li>
			<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
			<% else %>
			<li><%= link_to "Prijava", signin_path, :id => 'prijava' %></li>
			<li style="color:black">|</li>
			<li><%= link_to "Registracija", signup_path, :id => 'registracija' %></li>
			<% end %>
			</ul>
			<div id="predaj_oglas"><a href="/objavi"><h4>Predaj Oglas<h4></a></div>
		</div>

		
		


<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<%= value %>
	</div>
<% end %>
<%= render "shared/sastrane" %>
<%= yield %>
</body>
</html>
