<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		<header id="header">
			<div id="slika">
				<a href="/">
				<center><img src="/images/header_slika.png"></center>
				</a>
			</div>
		
			<nav id="navigacija">
			<ul>
				<li><%= link_to "BUY", '#' %></li>
				<li><%= link_to "SELL", '#' %></li>
			</ul>
		</header>
		
		
		<footer id="footer">
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Help", help_path %></li>
				<% if signed_in? %>
				<li><%= link_to current_user.name, current_user %></li>
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
				<% else %>
				<li><%= link_to "Sign In", signin_path %></li> 
				<% end %>
			</ul>
		</footer>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>">
		<%= value %>
	</div>
<% end %>

<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
